{% extends 'app/base.html' %}
{% load static %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        {% if cart_items %}
        <div class="col-sm-6">
            <h4>Order Summary</h4>
            <hr>
            
            {% for item in cart_items %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5>Product: {{item.product.title}}</h5>
                    <p>Quantity: {{item.quantity}}</p>
                    <p class="fw-bold">Price: {{item.product.discount_price}}</p>
                </div>
            </div>
            {% endfor %}
            <p class="fw-bold">Total Cost + Rs. 40 = {{totalamount}}</p>
            <small>Term and Condition:Please check the cart items and description carefully.</small>
        </div>

        <div class="col-sm-4 offset-sm-1">
            <h4>Select Shipping Address</h4>
            <hr>
            <form action="{% url 'payment_gateway' %}" id="myform">
                {% for ad in add %}
                <div class="card mb-2">
                    <div class="card-body">
                        <h5>{{ad.name}}</h5>
                        <p>Mobile: {{ad.mobile_no}}</p>
                        <p>{{ad.locality}} {{ad.city}} {{ad.state}} - {{ad.pincode}}</p>
                    </div>
                </div>
                <div class="form-check mt-2 mb-5">
                    <input class="form-check-input" type="radio" name="custid" id="ad{{forloop.counter}}"
                        value="{{ad.id}}" required>
                    <label class="form-check-label fw-bold" for="ad{{forloop.counter}}">
                        Address:{{forloop.counter}}
                    </label>
                </div>
                {% endfor %}

                <div class="form-group mb-3">
                    <label for="totalamount">Total Amount</label>
                    <input type="number" class="form-control" name="totalamount" value="{{totalamount}}" readonly>
                </div>

                <div class="text-end">

                    <input type="hidden" name="payment_gateway" value="{{totalamount}}">
                    <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button>

                </div>
            </form>
        </div>
        {% else %}
            <div class="col-12 text-center py-5">
                <h4>Your Cart is empty!</h4>
                <p>Add fresh dairy items here.</p>
                <a href="{% url 'home' %}" class="btn btn-warning">Go Shopping</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock main-content %}